name: Release Build
on:
  push:
    branches:
      - dev*
    paths:
      - "app/**"
      - "buildSrc/**"
      - "library/**"
      - ".github/workflows/release.yml"
  workflow_dispatch:
    inputs:
      release:
        description: 'Release (y/n)'
        required: false
      prerelease:
        description: 'Mark as pre-release (y/n)'
        required: false
      tag:
        description: 'Release Tag'
        required: false
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.2
          cache-dependency-path: "library/core/go.sum"
      - name: Patch Go
        run: |
          cd $(go env GOROOT)
          curl https://github.com/golang/go/commit/9db7e30bb42eed9912f5e7e9e3959f3b38879d5b.diff | patch --verbose -p 1
          curl https://github.com/golang/go/commit/1cd71689f2ed8f07031a0cc58fc3586ca501839f.diff | patch --verbose -p 1
      - name: Setup Go Mobile
        # https://github.com/golang/mobile/blob/c31d5b91ecc32c0d598b8fe8457d244ca0b4e815/cmd/gomobile/init.go#L83
        run: |
          go install github.com/sagernet/gomobile/cmd/gomobile@v0.1.8
          go install github.com/sagernet/gomobile/cmd/gobind@v0.1.8
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'
      - name: Setup Android NDK
        # Pin NDK version for `gomobile`.
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r29
      - name: Native Build
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          ./run lib core
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: app/libs/libcore.aar
          name: "LibCore"
      - name: Gradle Cache
        uses: actions/cache@v4
        with:
          path: ~/.gradle
          key: gradle-${{ hashFiles('**/*.gradle.kts') }}
      - name: Gradle Build
        run: |
          echo "sdk.dir=${ANDROID_HOME}" > local.properties
          export LOCAL_PROPERTIES="${{ secrets.LOCAL_PROPERTIES }}"
          ./gradlew :app:downloadAssets
          ./gradlew :app:assembleOssRelease
          APK=$(find app/build/outputs/apk -name '*arm64-v8a*.apk')
          APK=$(dirname "$APK")
          echo "APK=$APK" >> $GITHUB_ENV
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: APKs
          path: ${{ env.APK }}
  publish:
    name: Publish Release
    if: github.event.inputs.release == 'y' && github.event.inputs.tag != ''
    runs-on: ubuntu-latest
    needs: build
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: APKs
          path: artifacts
      - name: Publish Release
        if: github.event.inputs.prerelease != 'y'
        run: |
          mkdir apks
          find artifacts -name "*.apk" -exec cp {} apks \;
          gh release create --latest=false ${{ github.event.inputs.tag }} --notes="" --title=${{ github.event.inputs.tag }} ./apks/*
